<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDnwzwBlNlkXm8bbv1snXeCui2MLs2182I</string>
	<key>GCM_SENDER_ID</key>
	<string>837637077550</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Servin.AhorrApp</string>
	<key>PROJECT_ID</key>
	<string>ahorrapp-483ba</string>
	<key>STORAGE_BUCKET</key>
	<string>ahorrapp-483ba.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837637077550:ios:16795894d129f151813dbf</string>
</dict>
</plist>